$bg-main: white;
$bg-nav: black;

main{
    background-color: $bg-main;
}

nav{
    background-color: $bg-main;
}

h1,
h2,
p{
    text-align: center;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color:black
}
button {
    text-align: center;
    vertical-align: middle;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $bg-nav; 
}
footer small{
    color: white;
}