$bg-main: white;
$bg-nav: black;

main{
    background-color: $bg-main;
}

nav{
    background-color: $bg-main;
}

h1,
h2,
p{
    font-size: 3cm;
    text-align: center;
}

a{
    text-decoration: none;
}

.title{
    border: 10px;
}


