$bg-main: white;
$bg-nav: black;

main{
    background-color: $bg-main;
}

h1,
h2,
p{
    font-size: 5rem;
    text-align: center;
}

a{
    text-decoration: none;
}


nav{
    background-color: $bg-main;
}